# Root .editorconfig file indicating that this is the top level
root = true

# Set default editor settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# Specific settings for ebuild files
[*.ebuild]
indent_style = tab
indent_size = 2
tab_width = 2
