# Config for: https://github.com/arran4/arrans_overlay_workflow_builder

Type Github AppImage Release
GithubProjectUrl https://github.com/janhq/jan/
EbuildName jan-appimage
Description Jan is an open source alternative to ChatGPT that runs 100% offline on your computer. Multiple engine support (llama.cpp, TensorRT-LLM)
Homepage https://jan.ai/
License GNU Affero General Public License v3.0
ProgramName jan
DesktopFile jan.desktop
Icons root
Dependencies sys-libs/glibc sys-libs/zlib
Binary amd64=>jan-linux-x86_64-${VERSION}.AppImage > jan.AppImage


Type Github AppImage Release
GithubProjectUrl https://github.com/Bin-Huang/chatbox
EbuildName chatbox-appimage
Description User-friendly Desktop Client App for AI Models/LLMs (GPT, Claude, Gemini, Ollama...)
Homepage https://chatboxai.app
License GNU General Public License v3.0
ProgramName chatbox
DesktopFile xyz.chatboxapp.app.desktop
Icons hicolor-apps root
Dependencies sys-libs/zlib sys-libs/glibc sys-libs/zlib sys-libs/glibc
Binary amd64=>Chatbox-${VERSION}-x86_64.AppImage > chatbox.AppImage
Binary arm64=>Chatbox-${VERSION}-arm64.AppImage > chatbox.AppImage


Type Github AppImage Release
GithubProjectUrl https://github.com/arran4/flutter_google_datastore
EbuildName flutter-google-datastore-appimage
Description Google Datastore and Datastore emulator client for "easy" modification of values
License unknown
Workaround Semantic Version Prerelease Hack 1
ProgramName flutter_google_datastore
DesktopFile flutter_google_datastore.desktop
Icons hicolor-apps root
Dependencies sys-libs/glibc sys-libs/zlib
Binary amd64=>flutter_google_datastore-linux-x86_64.AppImage > flutter_google_datastore.AppImage


Type Github AppImage Release
GithubProjectUrl https://github.com/arran4/lemmy_notify
EbuildName lemmy-notify-appimage
Description Lemmy Notification app - for desktop atm
License unknown
ProgramName lemmy_notify
DesktopFile lemmy_notify.desktop
Icons hicolor-apps root
Dependencies sys-libs/zlib sys-libs/glibc
Binary amd64=>lemmy_notify-linux-x86_64.AppImage > lemmy_notify.AppImage


Type Github AppImage Release
GithubProjectUrl https://github.com/sindresorhus/caprine
EbuildName caprine-appimage
Category net-im
Description Elegant Facebook Messenger desktop app
Homepage https://sindresorhus.com/caprine
License MIT License
ProgramName caprine
DesktopFile caprine.desktop
Icons hicolor-apps root
Dependencies sys-libs/glibc sys-libs/zlib
Binary amd64=>Caprine-${VERSION}.AppImage > caprine.AppImage


Type Github AppImage Release
GithubProjectUrl https://github.com/rustdesk/rustdesk/
Category net-misc
EbuildName rustdesk-appimage
Description An open-source remote desktop application designed for self-hosting, as an alternative to TeamViewer.
Homepage https://rustdesk.com
License GNU Affero General Public License v3.0
Workaround Semantic Version Prerelease Hack 1
Workaround Semantic Version Without V
ProgramName rustdesk
DesktopFile rustdesk.desktop
Icons hicolor-apps
Dependencies sys-libs/glibc sys-libs/zlib sys-libs/zlib sys-libs/glibc
Binary amd64=>rustdesk-${TAG}-x86_64.AppImage > rustdesk.AppImage
Binary arm64=>rustdesk-${TAG}-aarch64.AppImage > rustdesk.AppImage


Type Github AppImage Release
GithubProjectUrl https://github.com/localsend/localsend
EbuildName localsend-appimage
Category net-misc
Description An open-source cross-platform alternative to AirDrop
Homepage https://localsend.org
License MIT License
ProgramName localsend
DesktopFile org.localsend.localsend_app.desktop
Icons hicolor-apps root
Dependencies sys-libs/glibc sys-libs/zlib
Binary amd64=>LocalSend-${VERSION}-linux-x86-64.AppImage > localsend.AppImage


Type Github AppImage Release
GithubProjectUrl https://github.com/WerWolv/ImHex
EbuildName im-hex-appimage
Category dev-util
Description 🔍 A Hex Editor for Reverse Engineers, Programmers and people who value their retinas when working at 3 AM.
Homepage https://imhex.werwolv.net
License GNU General Public License v2.0
ProgramName ImHex
DesktopFile imhex.desktop
Icons pixmaps root
Dependencies sys-libs/glibc sys-libs/zlib
Binary amd64=>imhex-${VERSION}-x86_64.AppImage > ImHex.AppImage


Type Github AppImage Release
GithubProjectUrl https://github.com/LykosAI/StabilityMatrix
EbuildName stability-matrix-appimage
Description Multi-Platform Package Manager for Stable Diffusion
Homepage https://lykos.ai
License GNU Affero General Public License v3.0
ProgramName StabilityMatrix
DesktopFile zone.lykos.stabilitymatrix.desktop
Icons root
Dependencies sys-libs/zlib sys-libs/glibc
Binary amd64=>StabilityMatrix-linux-x64.zip > StabilityMatrix.AppImage > StabilityMatrix.AppImage

Type Github AppImage Release
GithubProjectUrl https://github.com/louisgv/local.ai
EbuildName local-ai-appimage
Description 🎒 local.ai - Run AI locally on your PC!
Homepage https://localai.app
License GNU General Public License v3.0
ProgramName local-ai
DesktopFile local-ai.desktop
Icons hicolor-apps root
Dependencies sys-libs/glibc sys-libs/zlib
Binary amd64=>local-ai_${VERSION}_amd64.AppImage > local-ai.AppImage


Type Github AppImage Release
GithubProjectUrl https://github.com/Mobile-Artificial-Intelligence/maid
EbuildName maid-appimage
Description Maid is a cross-platform Flutter app for interfacing with GGUF / llama.cpp models locally, and with Ollama and OpenAI models remotely.
License MIT License
Workaround Semantic Version Without V
ProgramName maid
DesktopFile maid.desktop
Icons root
Dependencies sys-libs/zlib sys-libs/glibc
Binary amd64=>maid.AppImage > maid.AppImage

Type Github AppImage Release
GithubProjectUrl https://github.com/anyproto/anytype-ts
Category app-text
EbuildName anytype-ts-appimage
Description Official Anytype client for MacOS, Linux, and Windows
Workaround Semantic Version Prerelease Hack 1
Homepage https://anytype.io
License Other
ProgramName Anytype
DesktopFile anytype.desktop
Icons hicolor-apps root
Dependencies sys-libs/glibc sys-libs/zlib
Binary amd64=>Anytype-${VERSION}.AppImage > Anytype.AppImage

Type Github AppImage Release
GithubProjectUrl https://github.com/ente-io/ente
EbuildName ente-auth-appimage
Description Ente's 2FA solution
Homepage https://ente.io/blog/auth/
License GNU Affero General Public License v3.0
Workaround Semantic Version Prerelease Hack 1
Workaround Tag Prefix => auth-
ProgramName ente_auth
DesktopFile ente_auth.desktop
Icons hicolor-apps root
Dependencies sys-libs/glibc sys-libs/zlib
Binary amd64=>ente-${TAG}-x86_64.AppImage > ente_auth.AppImage

