name: net-im/slackdump-bin Update

permissions:
  contents: write

on:
  schedule:
    - cron: '40 1 * * *'
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/net-im-slackdump-bin-update.yaml'

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: false

env:
  ebuild_category: net-im
  ebuild_name: slackdump-bin
  github_owner: rusq
  github_repo: slackdump
  description: "Save or export your private and public Slack messages, threads, files, and users locally without admin privileges."
  PFN: "slackdump"
  EFN: "slackdump"
  homepage: "https://github.com/rusq/slackdump"
  license: GPL-3.0

jobs:
  check-and-create-ebuild:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Install required tools
        run: |
          sudo apt-get update
          sudo apt-get install -y wget jq coreutils
          url="$(curl -s --header "Accept: application/vnd.github+json" --header "Authorization: Bearer ${{secrets.GITHUB_TOKEN}}" https://api.github.com/repos/arran4/g2/releases/latest | jq -r '.assets[].browser_download_url | select(endswith("_linux_amd64.deb"))')"
          echo "$url"
          wget "${url}" -O /tmp/g2.deb
          sudo dpkg -i /tmp/g2.deb
          rm /tmp/g2.deb

      - name: Process each release
        id: process_releases
        run: |
          ebuild_dir="./${ebuild_category}/${ebuild_name}"
          mkdir -p $ebuild_dir
          tags=$(curl -s --header "Accept: application/vnd.github+json" --header "Authorization: Bearer ${{secrets.GITHUB_TOKEN}}" https://api.github.com/repos/${{env.github_owner}}/${{env.github_repo}}/releases | jq -r '.[].tag_name')
          
          for tag in ${tags}; do
            version=${tag#v}
            if [ "${version}" = "${tag}" ]; then
              echo "$version == $tag so there is no V removed"
              continue
            fi
            if ! echo "$version" | egrep '^([0-9]+)\.([0-9]+)(\.([0-9]+))?(-r[0-9]+)?((_)(alpha|beta|rc|p)[0-9]*)*$'; then
              echo "$version doesn't match regexp";
              continue; 
            fi
            ebuild_file="${ebuild_dir}/${ebuild_name}-${version}.ebuild"
            if [ ! -f "$ebuild_file" ]; then
              # Create ebuild script
              {
                echo "# Generated via: https://github.com/arran4/arrans_overlay/blob/main/.github/workflows/net-im-slackdump-bin-update.yaml"
                echo "EAPI=8"
                echo "DESCRIPTION=\"$description\""
                echo "HOMEPAGE=\"$homepage\""
                echo 'IUSE="man"'
                echo 'SRC_URI="'
                echo "  amd64? ( https://github.com/${{env.github_owner}}/${{env.github_repo}}/releases/download/v\${PV}/${PFN}_Linux_x86_64.tar.gz -> \${P}.amd64.tar.gz )"
                echo "  arm64? ( https://github.com/${{env.github_owner}}/${{env.github_repo}}/releases/download/v\${PV}/${PFN}_Linux_arm64.tar.gz -> \${P}.arm64.tar.gz )"
                echo "  x86? ( https://github.com/${{env.github_owner}}/${{env.github_repo}}/releases/download/v\${PV}/${PFN}_Linux_i386.tar.gz -> \${P}.x86.tar.gz )"
                echo '" '
                echo "LICENSE=\"${{env.license}}\""
                echo "SLOT=\"0\""
                echo 'KEYWORDS="~amd64 ~arm64 ~x86"'
                echo 'RDEPEND=""'
                echo 'DEPEND="${RDEPEND}"'
                echo "S=\"\${WORKDIR}\""
                echo 'RESTRICT="strip"'
                echo ""
                echo "src_install() {"
                echo "    exeinto /opt/bin"
                echo "    doexe ${EFN}"
                echo "    dodoc LICENSE README.rst"
                echo "    if use man; then"
                echo "      doman slackdump.1"
                echo "    fi"
                echo "}"
                echo ""
              } > $ebuild_file

              # Generate the manifest for the new ebuild
              g2 manifest upsert-from-url "https://github.com/${{env.github_owner}}/${{env.github_repo}}/releases/download/${tag}/${PFN}_Linux_x86_64.tar.gz" "/tmp/${ebuild_name}-${version}.amd64.tar.gz" "${ebuild_dir}/Manifest"
              g2 manifest upsert-from-url "https://github.com/${{env.github_owner}}/${{env.github_repo}}/releases/download/${tag}/${PFN}_Linux_arm64.tar.gz" "/tmp/${ebuild_name}-${version}.arm64.tar.gz" "${ebuild_dir}/Manifest"
              g2 manifest upsert-from-url "https://github.com/${{env.github_owner}}/${{env.github_repo}}/releases/download/${tag}/${PFN}_Linux_i386.tar.gz" "/tmp/${ebuild_name}-${version}.x86.tar.gz" "${ebuild_dir}/Manifest"
            fi
            break
          done

      - name: Commit and push changes
        run: |
          ebuild_dir="./${ebuild_category}/${ebuild_name}"
          git add "./${ebuild_dir}"
          git commit -m "Add ebuilds for new ${ebuild_name} releases" && 
          git pull --rebase &&
          git push || true
        if: steps.process_releases.conclusion == 'success'
