name: Ebuild Tests

on:
  pull_request:
    branches: [ "main" ]

jobs:
  tests:
    runs-on: ubuntu-latest
    container:
      image: gentoo/stage3
      volumes:
        - ${{github.workspace}}:/var/db/repos/arrans-overlay
      options: --user root
    defaults:
      run:
        working-directory: /var/db/repos/arrans-overlay
    steps:
      # Check out the repository
      - uses: actions/checkout@master
        with:
          fetch-depth: 0

      - name: Run tests
        run: |
          emerge-webrsync >> sync.txt
          if ! command -v git >/dev/null 2>&1; then
            emerge --quiet --oneshot dev-vcs/git
          fi
          git fetch origin ${{ github.event.pull_request.base.ref }} --depth=1
          CHANGED_EBUILDS=$(git diff --name-only origin/${{ github.event.pull_request.base.ref }} HEAD | grep '\.ebuild$' || true)
          if [ -z "$CHANGED_EBUILDS" ]; then
            echo "No ebuilds changed";
            exit 0
          fi
          for e in $CHANGED_EBUILDS; do
            rm /var/cache/distfiles/* || true;
            echo "Testing $e";
            ebuild "./$e" fetch;
          done
