name: Workflow Checks

on:
  push:
    paths:
      - '.github/workflows/**'
  pull_request:
    paths:
      - '.github/workflows/**'

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download actionlint
        id: get_actionlint
        run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
      - name: Check workflow files
        run: ./actionlint -color -ignore 'action is too old' -ignore 'SC2016' -ignore 'SC2034' -ignore 'SC2086' -ignore 'SC2196' -ignore 'SC2015'
